* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slider-container {
  max-width: 50vw;
  margin: 40px 0px;
}

.slider-container :focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
  font-size: 25px !important;
}

.slick-next {
  right: -25px !important;
  top: calc(50% - 20px) !important;
}

.slick-prev {
  left: -25px !important;
  top: calc(50% - 20px) !important;
}
